.header-container {
   display: flex;
   background-color:rgba(99, 31, 79, 0.863);
    color:white;
    padding: 20px;
    justify-content: space-between;
  
}
.top-courses-heading {
    background-color: pink;
    border: 1px solid brown;
    border-radius: 5px;
    color: rgb(147, 14, 241);
    padding: 10px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 5px;
}